/* ===================================
   RESET 
   =================================== */

*,
header,
body,
h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===================================
   GLOBAL VARIABLES
   =================================== */

:root {
    /* Primary colors */
    --color-background-main: #ffffff;
    --color-secondary: #000000;
    --color-nav: #000000;
    --color-background-card: #f4f4f4;

    /* Font colors */
    --color-font-main: #111111;
    --color-font-secondary: #ffffff;



    /* Font size */
    --font-size-h1: 2em;
    --font-size-h2: 2.4em;
    --font-size-h3: 1.9em;
    --font-size-p: 1.2em;


    /* Button colors */
    --color-button-primary: #FFD700;

    /* Border color */
    --color-borde: #111111;

    /* Shadow effects */
    --shadow-main: 0 2px 4px rgba(0, 0, 0, 0.6);

}



/* ===================================
   BASE STYLES
   =================================== */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background-main);
}

img {
    width: 100px;
    height: 100px;
}

/* ===================================
   HEADER
   =================================== */

header {
    width: 100%;
    height: 10vh;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    color: var(--color-font-secondary);
    font-size: var(--font-size-h1);

}

/* ===================================
   WEBSITE BODY
   =================================== */

main {
    min-height: 80vh;
    margin: 3vh 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3em;

}

h2 {
    font-size: var(--font-size-h2);
    width: 100%;
    display: flex;
    margin: 1vh 0.2vw;
}

h3 {
    font-size: var(--font-size-h3);
}

p {
    font-size: var(--font-size-p);

}

/* ===================================
    USER PROFILE CARD
   =================================== */

/* Class created to position the user profile card */
.perfil {
    flex: 1.4;
    margin: 0 0.5vw;
    height: 80vh;
    display: flex;
}

/* User profile card styles */
.perfil .card {
    border: 2px solid var(--color-borde);
    border-radius: 4px;
    height: 43vh;
    width: 100%;
    margin: 11.5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8vh 0 1vh 0;
}

/* User profile card image styles */
.perfil img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid var(--color-secondary);

}

/* ===================================
    POSTS
   =================================== */

/* Class created to position the Posts */
.feed {
    flex: 6.5;
    margin: 0 0.5vw 0 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Class created to position the Posts */
.feed .container-card {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

/* Post styles */

.container-card .card {
    border: 2px solid var(--color-borde);
    flex: 1;
    margin: 2vh 0 1vh 0;
    padding: 4.5vh 1.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--color-background-card);
    border-radius: 4px;
}

.post {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11vh;
}

.likes {
    flex: 1;
    display: flex;
    height: 6vh;
    justify-content: space-evenly;
}

.likes button {
    padding: 1vh 1.5vw;
    font-size: 1.2em;
    font-weight: 900;
    background-color: var(--color-button-primary);
    border: none;
    border-radius: 4px;
}

.likes>p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}