body {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



.navbar {
    background-color: crimson;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;

}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #fff;
}

.nav-links li a:hover {
    color: rgb(142, 70, 190);
}