/* ===================================
   RESET 
   =================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font);
}


/* ===================================
   VARIABLES GLOBALES
   =================================== */

:root {
    /* Colores principales */
    --color-secundario: #00bcd4;
    --color-principal: #ffffff;

    /* Colores de fuente */
    --color-font: #666666;
    --color-font-secundario: #333333;
    --color-font-terciario: #666555;

    /* Colores de botones */
    --color-boton: #f5f5f5;
    --color-boton-1: #00bcd4;

    /* Efectos de sombra */
    --sombra-principal: 0 5px 8px rgba(0, 0, 0, 0.08),
        4px 2px 8px rgba(0, 0, 0, 0.06),
        -4px 2px 8px rgba(0, 0, 0, 0.06);
}


/* Estilos base */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-principal);
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

button {
    background-color: var(--color-boton);
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
    margin-top: 5%;

}

button:hover {
    background-color: var(--color-boton-1);
}

h1 {
    color: var(--color-font-secundario);
    font-size: 40px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 21px;

}

/* Tarjeta de usuario */

/* Contenedor de Tarjeta de usuario */
.user-card-container {
    width: 57vw;
    margin-top: 2vh;
    height: 94vh;
    padding: 3% 4%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* Gradiente: 20% superior cian, 80% inferior blanco (Fondo de dos colores) */
    background: linear-gradient(to bottom,
            #00BCD4 0%,
            #00BCD4 20%,
            #FFFFFF 20%,
            #FFFFFF 100%);
    border-radius: 20px;
    box-shadow: var(--sombra-principal);


}


/* Foto de perfil */

.profile-photo-container>img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    width: 200px;
    border: 4px solid #FFFFFF;
}


/* Sección de información del usuario */
.user-card-body {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-card-body p:first-of-type {
    color: var(--color-font-terciario);
    font-weight: 500;
}