* {
    border: 2px solid pink;
}

nav {
    background-color: #F0F8FF;
}

li {
    list-style-type: none;
}

nav {
    min-width: 90vh;
    min-height: 5vh;
    display: flex;
}

nav>.nav-logo a {
    width: 80px;
    display: flex;

}


.nav-logo a img {
    max-width: 100%;
}

.nav-logo {
    display: flex;

}

.nav-links>lu {
    display: flex;
    align-items: end;

}