


/* ===================================
   RESET
   =================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font);
}


/* ===================================
   GLOBAL VARIABLES
   =================================== */

:root {
    /* Primary colors */
    --color-primary: #ffffff;
    --color-secondary: #00bcd4;
    --color-nav: #d3d3d3;

    /* Font colors */
    --color-font: #111111;
    --color-font-secondary: #ffffff;
    --color-font-tertiary: #d3d3d3;


    /* Font size */
    --size-font: 0.7em;
    --size-font-secondary: 1.6em;
    --size-font-tertiary: 1em;


    /* Button colors */
    --color-button-1: #1e90ff;
    --color-button-2: #00a000;
    --color-button-3: #ffffcc;
    --color-button-4: #1ecfff;
    --color-button-5: #00f000;
    --color-button-6: #fff000;


    /* Border color */
    --color-border: #3a3a3a;

    /* Shadow effects */
    --shadow-primary: 0 2px 4px rgba(0, 0, 0, 0.6);


}




/* ===================================
   BASE STYLES
   =================================== */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-primary);
    width: 85%;
    margin: 0 auto;
    padding: 0 auto;


}

/* Default container */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-primary);
    border: 2px solid var(--color-font);
    padding: 0.5em 1em;
    margin-top: 1em;
    align-items: baseline;
}


/* ===================================
   HEADER
   =================================== */

nav {
    background-color: var(--color-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 1.5%;

}

h1 {
    color: var(--color-font);
    font-size: var(--size-font-secundario);
}

/* Search bar */
.search-bar>input {
    width: 70em;
    font-size: var(--size-font);
    padding: 0.35em 0.2em;

}

/* Login button */
.login-btn {
    background-color: var(--color-button-1);
    color: var(--color-font-secondary);
    font-size: var(--size-font);
    text-decoration: none;
    box-shadow: var(--shadow-primary);
    padding: 0.7em 1.5em;
}

.login-btn:hover {
    background-color: var(--color-button-4);
}

/* ===================================
   WEBSITE BODY
   =================================== */


/* Content distribution */
main {
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.add-definition {
    width: 35%;
    max-height: 13vh;

}

.pet-card {
    width: 64%;
}

.pet-card>div {
    width: 100%;
    min-height: 26vh;
}

/* Font styles */
h2 {
    font-size: var(--size-font-tertiary);
    padding-top: 0.5em;
}

p {
    font-size: var(--size-font);
}

span {
    font-style: italic;
}


/* Buttons */
.like-btn {
    background-color: var(--color-button-3);
    border-radius: 0.3em;
    box-shadow: var(--shadow-primary);
    font-size: var(--size-font);
    padding: 0.3em;
}

.like-btn:hover {
    background-color: var(--color-button-6);
}

.add-definition button {
    background-color: var(--color-button-2);
    border-radius: 0.3em;
    color: var(--color-font-secondary);
    font-size: var(--size-font);
    padding: 0.5em 5em;
    box-shadow: var(--shadow-primary);
}

.add-definition button:hover {
    background-color: var(--color-button-5);
}