/* ===================================
   MOCKUP DE FONDO - GUÍA DE DISEÑO
   =================================== */

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../../resources/mockups/mockup-01.png'); */
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.3;
    /* Ajusta este valor: 0.2 = muy transparente, 0.5 = más visible */
    pointer-events: none;
    z-index: 9999;
    /* Encima de todo para guiarte */
}


/* ===================================
   RESET 16.3 9.6 0.4
   =================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font);
}


/* ===================================
   VARIABLES GLOBALES
   =================================== */

:root {
    /* Colores principales */
    --color-principal: #ffffff;
    --color-secundario: #00bcd4;
    --color-nav: #d3d3d3;

    /* Colores de fuente */
    --color-font: #111111;
    --color-font-secundario: #ffffff;
    --color-font-terciario: #d3d3d3;


    /* Tamaño de la funte */
    --size-font: 0.7em;
    --size-font-secundario: 1.6em;
    --size-font-terciario: 1em;


    /* Colores de botones */
    --color-boton-1: #1e90ff;
    --color-boton-2: #00a000;
    --color-boton-3: #ffffcc;
    --color-boton-4: #1ecfff;
    --color-boton-5: #00f000;
    --color-boton-6: #fff000;


    /* Color borde */
    --color-borde: #3a3a3a;

    /* Efectos de sombra */
    --sombra-principal: 0 2px 4px rgba(0, 0, 0, 0.6);


}




/* ===================================
   ESTILOS BASE
   =================================== */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-principal);
    width: 85%;
    margin: 0 auto;
    padding: 0 auto;


}

/* Contenedor por defecto */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-principal);
    border: 2px solid var(--color-font);
    padding: 0.5em 1em;
    margin-top: 1em;
    align-items: baseline;
}


/* ===================================
   ENCABEZADO
   =================================== */

nav {
    background-color: var(--color-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 1.5%;

}

h1 {
    color: var(--color-font);
    font-size: var(--size-font-secundario);
}

/* barra de búsqueda  */
.search-bar>input {
    width: 70em;
    font-size: var(--size-font);
    padding: 0.35em 0.2em;

}

/* Botón de Inicio de Sesión */
.login-btn {
    background-color: var(--color-boton-1);
    color: var(--color-font-secundario);
    font-size: var(--size-font);
    text-decoration: none;
    box-shadow: var(--sombra-principal);
    padding: 0.7em 1.5em;
}

.login-btn:hover {
    background-color: var(--color-boton-4);
}

/* ===================================
   CUERPO DEL SITIO WEB
   =================================== */


/* Distribución del contenido */
main {
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.add-definition {
    width: 35%;
    max-height: 13vh;

}

.pet-card {
    width: 64%;
}

.pet-card>div {
    width: 100%;
    min-height: 26vh;
}

/* Estilo de las fuentes */
h2 {
    font-size: var(--size-font-terciario);
    padding-top: 0.5em;
}

p {
    font-size: var(--size-font);
}

span {
    font-style: italic;
}


/* Botones */
.like-btn {
    background-color: var(--color-boton-3);
    border-radius: 0.3em;
    box-shadow: var(--sombra-principal);
    font-size: var(--size-font);
    padding: 0.3em;
}

.like-btn:hover {
    background-color: var(--color-boton-6);
}

.add-definition button {
    background-color: var(--color-boton-2);
    border-radius: 0.3em;
    color: var(--color-font-secundario);
    font-size: var(--size-font);
    padding: 0.5em 5em;
    box-shadow: var(--sombra-principal);
}

.add-definition button:hover {
    background-color: var(--color-boton-5);
}