/* ===================================
   RESET 
   =================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font);
}


/* ===================================
   VARIABLES GLOBALES
   =================================== */

:root {
    /* Colores principales */
    --color-fondo: #eeeeee;
    --color-secundario: #00bcd4;
    --color-principal: #ffffff;
    --color-nav: #333333;

    /* Colores de fuente */
    --color-font: #666666;
    --color-font-secundario: #333333;
    --color-font-terciario: #666555;
    --color-font-nav: #ffffff;

    /* Colores de botones */
    --color-boton: #f5f5f5;
    --color-boton-1: #00bcd4;
    --color-boton-2: #FF69B4;
    --color-boton-3: #007bff;

    /* Efectos de sombra */
    --sombra-principal: 0 5px 8px rgba(0, 0, 0, 0.08),
        4px 2px 8px rgba(0, 0, 0, 0.06),
        -4px 2px 8px rgba(0, 0, 0, 0.06);
}


/* ===================================
   ESTILOS BASE
   =================================== */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-principal);
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;

}

/* Contenedor por defecto */
.container-style {
    background-color: var(--color-principal);
    border-radius: 15px;
    box-shadow: var(--sombra-principal);
    padding: 3%;
    margin-bottom: 2em;
}


/* ===================================
   ENCABEZADO
   =================================== */

header {
    padding: 1.3% 5%;
    width: 100%;
    display: flex;
    background-color: var(--color-nav);
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--color-font-nav);
    font-size: 1.7em;
}


/* ===================================
   BARRA DE NAVEGACIÓN
   =================================== */

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.7em;
}

nav ul li {
    white-space: nowrap;
    width: 100%;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-font-nav);
    font-size: 1.3em;
}

nav ul li a:hover {
    color: var(--color-secundario);
}

/* Botón de cerrar sesión */
.btn {
    padding: 0.5em 1em;
    background-color: var(--color-secundario);
    border-radius: 5px;
    font-size: 1.em;
}

.btn:hover {
    color: var(--color-font-secundario);
}


/* ===================================
   CUERPO DEL SITIO WEB
   =================================== */


main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 4%;
    width: 100%;
    justify-content: space-between;
}

/* Tipografía General */

h2 {
    color: var(--color-font-secundario);
    font-size: 2.3em;
    font-weight: 500;
    margin: 0;
    padding: 0;

}

h3 {
    color: var(--color-font-secundario);
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: block;
}

p {
    font-size: 1.1em;
    color: var(--color-font-secundario);
}

p>span {
    color: var(--color-font-secundario);
}


/* ===================================
   SECCIÓN DE INFORMACION DE USUARIO
   =================================== */


.user-info-secction {
    width: 57%;
    background-color: transparent;
}

/* Tarjeta del usuario */
.user-card-container {
    width: 100%;
    display: block;
    /* Gradiente: 22% superior cian, 80% inferior blanco (Fondo de dos colores) */
    background: linear-gradient(to bottom,
            var(--color-secundario) 0%,
            var(--color-secundario) 22%,
            #FFFFFF 22%,
            #FFFFFF 100%);
    padding: 8% 6%;
}

/* Contenedor de Foto de perfil */
.profile-photo-container {
    height: 20%;
}

/* Foto de perfil */
.profile-photo-container>img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 150px;
    border: 4px solid #FFFFFF;
}


/* Cuerpo de Tarjeta del usuario */
.user-card-body {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-card-body span {
    display: block;
}


/* Botón editar perfil */
.edit-profile-btn {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.edit-profile-btn>button {
    background-color: transparent;
    color: var(--color-boton-3);
    border: none;
    padding: 0;
}

.edit-profile-btn>button:hover {
    color: var(--color-boton-1);
}


/* ===================================
   SECCIÓN DE EDUCACIÓN
   =================================== */

.user-education-container {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* ===================================
   SECCIÓN DE CONEXIONES
   =================================== */

.user-connections-secction {
    width: 33%;
}


/* ===================================
   SOLICITUDES DE CONEXIONES
   =================================== */

.add-connections-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    min-height: 200px;
    padding: 1em 2em;
}

.connections-requests {
    display: grid;
    grid-template-columns: 3.8em 12em 3.8em 3.8em;
    padding: 1em;
    justify-content: flex-start;
    justify-items: start;

}

.connections-requests p {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Imágenes de solicitude */
.connections-requests>img {
    border-radius: 20%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 50px;
    border: 2px solid var(--color-secundario);
}

/* Estilos de botones */
.connections-btn {
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-boton-2);
    border: 2.5px solid var(--color-boton-2);
    aspect-ratio: 1;
    padding: 0.8em;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}


/* ===================================
   TUS CONEXIONES
   =================================== */

.connections-container h3 {
    padding: 2% 0;
}

.connections-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    min-height: 200px;
    padding: 1em 2em;
}

.connections-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 0;
}

/* Imágenes de conexiones */
.connections-info>img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 50px;
    border: 1px solid var(--color-font);
    margin-right: 0.7em;

}