/* ===================================
   RESET 
   =================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font);
}


/* ===================================
   GLOBAL VARIABLES
   =================================== */

:root {
    /* Primary colors */
    --color-background: #eeeeee;
    --color-secondary: #00bcd4;
    --color-primary: #ffffff;
    --color-nav: #333333;

    /* Font colors */
    --color-font: #666666;
    --color-font-secondary: #333333;
    --color-font-tertiary: #666555;
    --color-font-nav: #ffffff;

    /* Button colors */
    --color-button: #f5f5f5;
    --color-button-1: #00bcd4;
    --color-button-2: #FF69B4;
    --color-button-3: #007bff;

    /* Shadow effects */
    --shadow-main: 0 5px 8px rgba(0, 0, 0, 0.08),
        4px 2px 8px rgba(0, 0, 0, 0.06),
        -4px 2px 8px rgba(0, 0, 0, 0.06);
}


/* ===================================
   ESTILOS BASE
   =================================== */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-primary);
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

/* Default container */
.container-style {
    background-color: var(--color-primary);
    border-radius: 15px;
    box-shadow: var(--shadow-main);
    padding: 3%;
    margin-bottom: 2em;
}


/* ===================================
   HEADER
   =================================== */

header {
    padding: 1.3% 5%;
    width: 100%;
    display: flex;
    background-color: var(--color-nav);
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--color-font-nav);
    font-size: 1.7em;
}


/* ===================================
   NAVIGATION BAR
   =================================== */

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.7em;
}

nav ul li {
    white-space: nowrap;
    width: 100%;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-font-nav);
    font-size: 1.3em;
}

nav ul li a:hover {
    color: var(--color-secundario);
}

/* Logout button */
.btn {
    padding: 0.5em 1em;
    background-color: var(--color-secondary);
    border-radius: 5px;
    font-size: 1.em;
}

.btn:hover {
    color: var(--color-font-secondary);
}


/* ===================================
   WEBSITE BODY
   =================================== */

main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 4%;
    width: 100%;
    justify-content: space-between;
}

/* General Typography */

h2 {
    color: var(--color-font-secondary);
    font-size: 2.3em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h3 {
    color: var(--color-font-secondary);
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: block;
}

p {
    font-size: 1.1em;
    color: var(--color-font-secondary);
}

p>span {
    color: var(--color-font-secondary);
}


/* ===================================
   USER INFORMATION SECTION
   =================================== */

.user-info-section {
    width: 57%;
    background-color: transparent;
}

/* User card */
.user-card-container {
    width: 100%;
    display: block;
    /* Gradient: 22% top cyan, 80% bottom white (Two-color background) */
    background: linear-gradient(to bottom,
            var(--color-secondary) 0%,
            var(--color-secondary) 22%,
            #FFFFFF 22%,
            #FFFFFF 100%);
    padding: 8% 6%;
}

/* Profile picture container */
.profile-photo-container {
    height: 20%;
}

/* Profile picture */
.profile-photo-container>img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 150px;
    border: 4px solid #FFFFFF;
}


/* User card body */
.user-card-body {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-card-body span {
    display: block;
}


/* Edit profile button */
.edit-profile-btn {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.edit-profile-btn>button {
    background-color: transparent;
    color: var(--color-button-3);
    border: none;
    padding: 0;
}

.edit-profile-btn>button:hover {
    color: var(--color-button-1);
}


/* ===================================
   EDUCATION SECTION
   =================================== */

.user-education-container {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* ===================================
   CONNECTIONS SECTION
   =================================== */

.user-connections-section {
    width: 33%;
}


/* ===================================
   CONNECTION REQUESTS
   =================================== */

.add-connections-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    min-height: 200px;
    padding: 1em 2em;
}

.connections-requests {
    display: grid;
    grid-template-columns: 3.8em 12em 3.8em 3.8em;
    padding: 1em;
    justify-content: flex-start;
    justify-items: start;

}

.connections-requests p {
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Request images */
.connections-requests>img {
    border-radius: 20%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 50px;
    border: 2px solid var(--color-secondary);
}

/* Button styles */
.connections-btn {
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-button-2);
    border: 2.5px solid var(--color-button-2);
    aspect-ratio: 1;
    padding: 0.8em;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}


/* ===================================
   YOUR CONNECTIONS
   =================================== */

.connections-container h3 {
    padding: 2% 0;
}

.connections-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    min-height: 200px;
    padding: 1em 2em;
}

.connections-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 0;
}

/* Connection images */
.connections-info>img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 50px;
    border: 1px solid var(--color-font);
    margin-right: 0.7em;
}