* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font);
}

/* Variables globales */

:root {
    --color-fondo: #eeeeee;
    --color-secundario: #00bcd4;
    --color-principal: #ffffff;
    --color-sombra: 4px 6px 12px rgba(0, 0, 0, 0.15);
    --color-font: #666666;
    --color-font-secundario: #333333;
    --color-font-terciario: #666555;
    --color-boton: #f5f5f5;
    --color-font-nav: #ffffff;
    --color-nav: #333333;
    /* --color-font: #a50000; */
}


/* Estilos base */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-principal);
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;

}

.container-style {
    background-color: var(--color-principal);
    border-radius: 15px;
    box-shadow:
        0 5px 8px rgba(0, 0, 0, 0.08),
        4px 2px 8px rgba(0, 0, 0, 0.06),
        -4px 2px 8px rgba(0, 0, 0, 0.06);
    padding: 3%;
    margin-bottom: 2em;
}


/* ===================================
   ENCABEZADO
   =================================== */

header {
    padding: 1.3% 5%;
    width: 100%;
    display: flex;
    background-color: var(--color-nav);
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid #f800e8; */
    /* position: fixed;
    top: 0; */
}

h1 {
    color: var(--color-font-nav);
    font-size: 1.7em;
}

/* ===================================
   BARRA DE NAVEGACIÓN
   =================================== */

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.7em;
}

nav ul li {
    white-space: nowrap;
    width: 100%;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-font-nav);
    font-size: 1.3em;
}

.btn {
    padding: 0.5em 1em;
    background-color: var(--color-secundario);
    border-radius: 5px;
    font-size: 1.em;
}


/* ===================================
   CUERPO DEL SITIO WEB
   =================================== */


main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 4%;
    width: 100%;
    justify-content: space-between
}

/* ===================================
   INFORMACION DE USUARIO
   =================================== */

button {
    background-color: var(--color-boton);
    border: none;
    padding: 15px 30px;
    font-size: 15px;
    color: #000;
    border-radius: 10px;

}

h2 {
    color: var(--color-font-secundario);
    font-size: 2.3em;
    font-weight: 500;
    margin: 0;
    padding: 0;

}

p {
    font-size: 1.1em;
    color: var(--color-font-secundario);
}

p>span {
    color: var(--color-font-secundario);
}


.user-info-secction {
    width: 57%;
    background-color: transparent;
}

.user-card-container {
    width: 100%;
    display: block;
    /* border: 2px solid #f80078; */
    /* Gradiente: 20% superior cian, 80% inferior blanco (Fondo de dos colores) */
    background: linear-gradient(to bottom,
            #00BCD4 0%,
            #00BCD4 22%,
            #FFFFFF 22%,
            #FFFFFF 100%);
    padding: 8% 6%;
}


/* Foto de perfil */
.profile-photo-container {
    height: 20%;

}

.profile-photo-container>img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 150px;
    border: 4px solid #FFFFFF;
}


/* Sección de información del usuario */
.user-card-body {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid #000000; */
    /* border: 3px solid #a70600; */
}

.user-card-body span {
    display: block;
}


/* Botón editar perfil */
.edit-profile-btn {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.edit-profile-btn>button {
    background-color: transparent;
    color: #007BFF;
    padding: 0;
}


/* ===================================
   EDUCACIÓN
   =================================== */

.user-education-container {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h3 {
    color: var(--color-font-secundario);
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: block;
}


/* ===================================
   CONEXIONES
   =================================== */

.user-connections-secction {
    width: 33%;
}


/* ===================================
   SOLICITUDES DE CONEXIONES
   =================================== */

.add-connections-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    min-height: 200px;
    padding: 1em 2em;
}

.connections-requests {
    display: grid;
    grid-template-columns: 3.8em 12em 3.8em 3.8em;
    padding: 1em;
    justify-content: flex-start;
    justify-items: start;

}

.connections-requests p {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* imagenes de solicitudes */
.connections-requests>img {
    border-radius: 20%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 50px;
    border: 2px solid var(--color-secundario);
}

/* Estilos de botones */
.connections-btn {
    border-radius: 50%;
    background-color: transparent;
    color: #FF69B4;
    border: 2.5px solid #FF69B4;
    aspect-ratio: 1;
    padding: 0.8em;
}



/* ===================================
   TUS CONEXIONES
   =================================== */

.connections-container h3 {
    padding: 2% 0;
}

.connections-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    min-height: 200px;
    padding: 1em 2em;
}

.connections-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 0;
}

/* imagenes de conexiones */
.connections-info>img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    width: 50px;
    border: 1px solid var(--color-font);
    margin-right: 0.7em;

}