/* body {
    background-color: #eaeaea;
    background-color: #c02929;
} */

.container {
    width: 950px;
    background-color: #eaeaea;
    margin: 0 auto;
    padding: 12px 12px;
}

.top-nav {
    height: 150px;
    background-color: #ffcc00;
    margin: 10px 0;
}


.main {
    display: inline-block;
    height: 400px;
    width: 700px;
    background-color: deeppink;
    vertical-align: top;
}


.side-nav {
    display: inline-block;
    height: 380px;
    width: 225px;
    background-color: #66ccff;
    margin: 10px;
    vertical-align: top;
}

.sub-content {
    display: inline-block;
    height: 200px;
    width: 210px;
    background-color: mediumblue;
    vertical-align: top;
    margin: 10px;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: #33cc33;
    margin: 10px;
}