/* Used during development to align everything... */
/* body {
    background-color: #eaeaea;
    background-color: #c02929;
} */

/* Centers all content and defines fixed width */
.container {
    width: 950px;
    background-color: #eaeaea;
    margin: 0 auto;
    padding: 12px 12px;
}

/* Represents a navigation bar */
.top-nav {
    height: 150px;
    background-color: #ffcc00;
    margin: 10px 0;
}

/* Main content area */
/* display: inline-block allows it to sit next to .side-nav */
/* vertical-align: top aligns the top with .side-nav */
.main {
    display: inline-block;
    height: 400px;
    width: 700px;
    background-color: deeppink;
    vertical-align: top;
}

/* Side navigation */
.side-nav {
    display: inline-block;
    height: 380px;
    width: 225px;
    background-color: #66ccff;
    margin: 10px;
    vertical-align: top;
}

/* inline-block allows the 3 boxes to be side by side */
.sub-content {
    display: inline-block;
    height: 200px;
    width: 210px;
    background-color: mediumblue;
    vertical-align: top;
    margin: 10px;
}

/* Advertisement section */
#advertisement {
    height: 120px;
    width: 660px;
    background-color: #33cc33;
    margin: 10px;
}