body {

    height: 100vh;
    width: 80%;
    justify-content: center;
    background-color: cornflowerblue;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

h1,
p {
    text-align: center;
}

#name {
    background-color: darkviolet;
    align-self: auto;
    white-space: pre;
}

#email {
    background-color: chartreuse;
}

textarea {
    width: 100vw;
}


fieldset {

    margin: 1% 5% 2% 5%;
    padding: 10%px;
    border: 1px solid;
}


.adopter-profile label {
    display: block;
}

.adopter-profile input,
.adopter-profile textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

adopter-profile input[type="checkbox"] select {
    display: flex;

}


}