/* ===================================
   RESET 
   =================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font);
}


/* ===================================
   VARIABLES GLOBALES
   =================================== */

:root {
    /* Colores principales */
    --color-fondo: #eeeeee;
    --color-secundario: #00bcd4;
    --color-principal: #ffffff;
    --color-nav: #333333;

    /* Colores de fuente */
    --color-font: #666666;
    --color-font-secundario: #333333;
    --color-font-terciario: #666555;
    --color-font-nav: #ffffff;

    /* Colores de botones */
    --color-boton: #f5f5f5;
    --color-boton-1: #00bcd4;
    --color-boton-2: #FF69B4;
    --color-boton-3: #007bff;

    /* Efectos de sombra */
    --sombra-principal: 0 5px 8px rgba(0, 0, 0, 0.08),
        4px 2px 8px rgba(0, 0, 0, 0.06),
        -4px 2px 8px rgba(0, 0, 0, 0.06);
}


/* ===================================
   ESTILOS BASE
   =================================== */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-principal);
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;

}

/* Contenedor por defecto */
.container-style {
    background-color: var(--color-principal);
    border-radius: 15px;
    box-shadow: var(--sombra-principal);
    padding: 3%;
    margin-bottom: 2em;
}